{% load static %}

{% block content %}
<div>

<!-- modais de adicao de itens -->
<form id="form-cancelar-chamado-modal"  action="{% url 'orion:lista_chamados' %}" method="get"> {% csrf_token %}
    <div class="modal" tabindex="-1" id="cancelar_chamado_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Cancelar Edição ! </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    
                    <p>Cancelar a edição do chamado ?  
                        <span class="modal-title" id="data-number" > </span>    
                    <p>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning" name= "cancelar_chamado" >Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</form>
    
      
</div>

{% endblock %}