{% load static %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="error_ch_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="examplsdseModalLabel">Adicionar Horas</h1>
        </div>
        <div class="modal-body">
            <p>Já existe um Horario Cadastrado</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
       

        </div>
    </div>
    </div>
</div>
<!-- End Modal -->

{% endblock %}