{% load widget_tweaks %}
{% load static %}
{% load jsignature_filters %}
{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active nav2" id="dados-tab" data-bs-toggle="tab"
            data-bs-target="#dados-tab-pane" type="button" role="tab" aria-controls="dados-tab-pane"
            aria-selected="true">Dados Chamado</button>
    </li>
    <li class="nav-item " role="presentation">
        <button class="nav-link nav2" id="atendimento-tab" data-bs-toggle="tab"
            data-bs-target="#atendimento-tab-pane" type="button" role="tab" aria-controls="atendimento-tab-pane"
            aria-selected="false">Atendimento</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link nav2" id="assinatura-tab" data-bs-toggle="tab"
            data-bs-target="#assinatura-tab-pane" type="button" role="tab" aria-controls="assinatura-tab-pane"
            aria-selected="false">Assinatura</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link nav2" id="time-tab" data-bs-toggle="tab" data-bs-target="#time-tab-pane"
            type="button" role="tab" aria-controls="time-tab-pane" aria-selected="false">Tempos</button>
    </li>
</ul>



<div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="dados-tab-pane" role="tabpanel" aria-labelledby="dados-tab"
        tabindex="0">

        <div class="card">
            

            
            <div class="card-dados-titulo">
                <h5 class="card-title dados-titulo">Dados Gerais</h5>
            </div>
            <div class="card-body justify-content-center">
        
                {% csrf_token %}
                {{ ordemForm.media.js }}

                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.empresa.id_for_label}}">
                            {{ordemForm.empresa.label}}</label>
                    </div>
                    <div class="col-sm-8">
                        {{ordemForm.empresa|add_class:'form-control form-select search-ordem'}}

                    </div>
                </div>


                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.equipamento.id_for_label}}">
                            {{ordemForm.equipamento.label}}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ordemForm.equipamento|add_class:'form-control form-select'}}

                    </div>

                </div>

                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.status.id_for_label}}">
                            {{ordemForm.status.label}}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ordemForm.status|add_class:'form-control form-select'}}

                    </div>

                </div>

                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.numero_chamado.id_for_label}}">
                            {{ordemForm.numero_chamado.label}}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ordemForm.numero_chamado|add_class:'form-control'|attr:'readonly'}}

                    </div>

                </div>

                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.tipo_chamado.id_for_label}}">
                            {{ordemForm.tipo_chamado.label}}</label>
                    </div>
                    <div class="col-sm-6">
                        {{ordemForm.tipo_chamado|add_class:'form-control form-select'}}

                    </div>

                </div>

                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.descricao_chamado.id_for_label}}">
                            {{ordemForm.descricao_chamado.label}}</label>
                    </div>
                    <div class="col-sm-8">
                        {{ordemForm.descricao_chamado|add_class:'form-control'}}

                    </div>

                </div>


            
            </div>

        
    </div>

    </div>

    <div class="tab-pane fade" id="atendimento-tab-pane" role="tabpanel" aria-labelledby="atendimento-tab"
    tabindex="0">

        <div class="card">
            <div class="card-atendimento-titulo">
                <h5 class="card-title atendimento-titulo">Atendimento</h5>
            </div>
            
            <div class="card-body">
                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.descricao_servico.id_for_label}}">
                            {{ordemForm.descricao_servico.label}}</label>
                    </div>
                    <div class="col-sm-8">
                        {{ordemForm.descricao_servico|add_class:'form-control'}}

                    </div>
                </div>

                <!-- carga horaria -->
                {% include 'orion/partials/_carga_horaria_modal.html' %}
                {% include 'orion/partials/_carga_horaria_error_modal.html' %}
                
                <!-- Button trigger carga-horaria modal -->
                <div class ="d-grid gap-2 d-flex justify-content-end mb-2" > 
                    <button id="add-more" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#generic-modal">
                        Adicionar Horas
                    </button>
                </div>
                
                {% include 'orion/partials/_tabela_carga_horaria.html' %}

                <div class="row ">
                    
                    <div id="ch-form-list" class="hidden">
                        {{ form_ch.management_form }} 
                        
                        {% for form in form_ch %}
                            <div class="repetir">
                                {{ form }}
                            </div>
                        {% endfor %}
                    </div> 
                    
                    <div id="empty-form" class="hidden" > 

                        
                        <div class="form-group mt-3 mb-3 d-flex row ">
                            <div class="col-4 label-class text-end">
                                <label class="col-form-label" for="{{ form_ch.empty_form.data.id_for_label}}">
                                    {{form_ch.empty_form.data.label}}</label>
                            </div>
                            <div class="col-8">
                                {{form_ch.empty_form.data|add_class:'form-control'}}
        
                            </div>
                        </div>

                        <div class="form-group mt-3 mb-3 d-flex row ">
                            <div class="col-4 label-class text-end">
                                <label class="col-form-label" for="{{ form_ch.empty_form.hora_inicio.id_for_label}}">
                                    {{form_ch.empty_form.hora_inicio.label}}</label>
                            </div>
                            <div class="col-8">
                                {{form_ch.empty_form.hora_inicio|add_class:'form-control'}}
        
                            </div>
                        </div>

                        <div class="form-group mt-3 mb-3 row ">
                            <div class="col-4 label-class text-end">
                                <label class="col-form-label" for="{{ form_ch.empty_form.hora_termino.id_for_label}}">
                                    {{form_ch.empty_form.hora_termino.label}}</label>
                            </div>
                            <div class="col-8">
                                {{form_ch.empty_form.hora_termino|add_class:'form-control'}}
        
                            </div>
                        </div>

                        <div class="form-group mt-3 mb-3 row ">
                            <div class="col-4 label-class text-end">
                                <label class="col-form-label" for="{{ form_ch.empty_form.status.id_for_label}}">
                                    {{form_ch.empty_form.status.label}}</label>
                            </div>
                            <div class="col-8">
                                {{form_ch.empty_form.status|add_class:'form-control'}}
        
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <!-- end carga horaria -->
                <!-- despesa -->

                <!-- Button trigger despesa modal -->
                <div class ="d-grid gap-2 d-flex justify-content-end mb-2 mt-3" > 
                    <button id="add-despesas" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#generic-d-modal">
                        Adicionar Despesas
                    </button>
                </div>
                {% include 'orion/partials/_tabela_despesas.html' %}

                <div class="row ">
            
                    <!-- Form Despesas-->
                    <div id="lista_despesas" class="hidden">
                        {{ formDespesa.management_form }} 
                        
                        {% for form in formDespesa %}
                            <div class="repetir-despesas">
                                {{ form }}
                            </div>
                        
                        {% endfor %}
                    </div> 
                    
                    <div id="empty-form-despesa" class="hidden" > 

                        <div class="form-group mt-3 mb-3 d-flex row ">
                            <div class="col-4 label-class text-end">
                                <label class="col-form-label" for="{{ formDespesa.empty_form.tipo.id_for_label}}">
                                    {{formDespesa.empty_form.tipo.label}}</label>
                            </div>
                            <div class="col-6">
                                {{formDespesa.empty_form.tipo|add_class:'form-control form-select'}}
                                
                            </div>
                        </div>
                        
                        <div class="form-group mt-3 mb-3 d-flex row ">
                            <div class="col-4 label-class text-end">
                                <label class="col-form-label" for="{{ formDespesa.empty_form.data.id_for_label}}">
                                    {{formDespesa.empty_form.data.label}}</label>
                            </div>
                            <div class="col-6">
                                {{formDespesa.empty_form.data}}
        
                            </div>
                        </div>


                        <div class="form-group mt-3 mb-3 d-flex row ">
                            <div class="col-4 label-class text-end">
                                <label class="col-form-label" for="{{ formDespesa.empty_form.valor.id_for_label}}">
                                    {{formDespesa.empty_form.valor.label}}</label>
                            </div>
                            <div class="col-4">
                                {{formDespesa.empty_form.valor|add_class:'form-control'}}
        
                            </div>
                        </div>



                    </div>
                    
                </div>

                <!-- end despesa -->
                
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="assinatura-tab-pane" role="tabpanel" aria-labelledby="assinatura-tab"
    tabindex="0">

        <div class="card">
            <div class="card-assinatura-titulo">
                <h5 class="card-title assinatura-titulo">Assinatura</h5>
            </div>
            <div class="card-body">

                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.contato.id_for_label}}">
                            {{ordemForm.contato.label}}</label>
                    </div>
                    <div class="col-sm-8">
                        {{ordemForm.contato|add_class:'form-control form-select'}}
                
                    </div>
                </div>
                
                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.observacoes_do_cliente.id_for_label}}">
                            {{ordemForm.observacoes_do_cliente.label}}</label>
                    </div>
                    <div class="col-sm-8">
                        {{ordemForm.observacoes_do_cliente|add_class:'form-control'}}
                
                    </div>
                </div>

                <div class="form-group mt-3 mb-3 d-flex row ">
                    <div class="label-class col-md-2 text-start text-md-end">
                        <label class="col-form-label" for="{{ ordemForm.assinatura.id_for_label}}">
                            {{ordemForm.assinatura.label}}</label>
                    </div>
                    <div id ="popup-hidden" class="hidden">
                        {{ordemForm.media}}
                        {{ordemForm.assinatura}}
                    </div>
                    <div class="col-sm-8 assinatura">
                        <img class="img-fluid" id='id-img' src="{{ ordemForm.assinatura|signature_base64 }}" alt="" />
                        <a href="#" id="open-popup" class="link-primary">Clique aqui para assinar</a>
                    </div>
                    
                </div>


            </div>

        </div>

    </div>
    

    <div class="tab-pane fade" id="time-tab-pane" role="tabpanel" aria-labelledby="time-tab" tabindex="0">

    </div>

</div>

<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{% static 'js/jSignature.min.js' %}"></script>
<script src="{% static 'js/django_jsignature.js' %}"></script>

<script type="text/javascript">
        
        //pega dos dados da assinatura que estão no formulario e 
        // coloca os dados na tag img para ser redenrizado como imagem
        $(document).ready(function() {

            var canvas = document.getElementsByClassName('jSignature');
            var dataURL = canvas[0].toDataURL();
            const assinatura_img = document.getElementById('id-img')
            assinatura_img.src = dataURL


            //carrega os equipamentos após escolher a empresa
            if ($('#id_equipamento').val() == ''){
                $('#id_equipamento').html('<option value=""> </option>');
            }

            $('#id_empresa').on('change', function() {
                var selectedValue = $(this).val();
                $.ajax({
                    url: '/equipamentos_select2/' + selectedValue,
                    dataType: 'json',
                    success: function(data) {
                        var options = '';
                        for (var i = 0; i < data.length; i++) {
                            options += '<option value="' + data[i].id + '">' + data[i].nome + '</option>';
                        }
                        $('#id_equipamento').html(options);
                        $('#id_equipamento').trigger('change');
                    }
                });
            });

            $('.select2').select2({
                theme: 'bootstrap4',
                placeholder: 'Selecione uma opção'
            });

            //exibe os erroslist de carga horaria e remove
            var errorlist = document.querySelectorAll(".errorlist li");
            for (var i = 0; i < errorlist.length; i++) {
               alert(errorlist[i].textContent);
               numberForm = errorlist[i].parentElement.nextElementSibling.valueOf('input').name.split('-')[1]
               document.getElementById("id_carga_horaria-"+numberForm+"-DELETE").checked = true
            }
        })

        
        
        // carga horaria
        const addMoreBtn = document.getElementById("add-more")
        const totalNewForms = document.getElementById("id_carga_horaria-TOTAL_FORMS")
        const tabelaCargaHoraria = document.getElementById("tabela-carga_horaria-corpo")
        var copyEmptyFormEl = null;
        
        addMoreBtn.addEventListener('click', add_new_form)
        
        function add_new_form(event){
            if(event){
                event.preventDefault()   
            }

            const currentCargaHorariaForms = document.getElementsByClassName("repetir")
            const currentFormCount = currentCargaHorariaForms.length //+  1
            const formCopyTarget = document.getElementById("temp")
            copyEmptyFormEl = document.getElementById("empty-form").cloneNode(true);

            copyEmptyFormEl.setAttribute('class', 'repetir-temp' )
            copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}` )
            const regex = new RegExp('__prefix__', 'g' )
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
            formCopyTarget.append(copyEmptyFormEl)

            
        } 


        document.addEventListener('click', function(event) {

            if (event.target.classList.contains('del-el-lista')) {
                btn = event.target;
                console.log('O botão: ' + btn.id);
                elemForm = document.getElementById("id_carga_horaria-"+btn.value+"-DELETE")
                if (elemForm == null){
                    elmPai = document.getElementById("form-"+btn.value)
                    const input = document.createElement("input");
                    input.setAttribute("type", "checkbox");
                    input.checked = true;
                    input.setAttribute("name", "carga_horaria-"+btn.value+"-DELETE");
                    input.setAttribute("id", "id_carga_horaria-"+btn.value+"-DELETE");
                    elmPai.appendChild(input);
                }else{
                    elemForm.checked = true

                }

                //---------------------------------------------
                var tr = document.getElementById(btn.value);
                tr.remove()

            }
        });
        
        
        const notSaveHoursBtn = document.getElementById("not_save_hours");
        notSaveHoursBtn.addEventListener('click', not_save_new_form)
        function not_save_new_form(event){
            if(event){
                event.preventDefault()   
            }
            console.log("not_save_hours")
            const temForm = document.getElementById("temp");
            while (temForm.firstChild) {
                temForm.removeChild(temForm.firstChild);
            }
        }
        
        
        const saveHoursBtn = document.getElementById("save_form");
        saveHoursBtn.addEventListener('click', save_new_form)
        function save_new_form(event){
            if(event){
                event.preventDefault()   
            }

            const currentCargaHorariaForms = document.getElementsByClassName("repetir")
            const currentFormCount = currentCargaHorariaForms.length //+  1
            const formCopyTarget = document.getElementById("ch-form-list")
            const temForm = document.getElementsByClassName("repetir-temp")
            
            //variaveis que compoe a lista de horarios trabalhados
            const varData = formatarData(document.getElementById("id_carga_horaria-"+currentFormCount+"-data").value);
            const varHoraInicio = document.getElementById("id_carga_horaria-"+currentFormCount+"-hora_inicio").value;
            const varHoraTermino = document.getElementById("id_carga_horaria-"+currentFormCount+"-hora_termino").value;
            const varStatus = $('#id_carga_horaria-'+currentFormCount+'-status :selected').text();
            const varTecnico = "{{ request.user }}"
            //verifica se horaro já existe
            
            if (verificaHorario(varData, varHoraInicio, varHoraTermino,tabelaCargaHoraria, varTecnico)){
                not_save_new_form()
                $('#error_ch_Modal').modal('show');
                return; // interrompe a execução da função

            }
            
            copyEmptyFormEl.setAttribute('class', 'repetir' )
            totalNewForms.setAttribute('value', currentFormCount + 1)
            
            formCopyTarget.append(copyEmptyFormEl)
            
            
            const varHorasDeTrabalho = subtrairHorarios(varHoraInicio, varHoraTermino) 
            
            let [horaHT, minHT] = varHorasDeTrabalho.split(":");
            if (horaHT <= 0 ){
                not_save_new_form()
                $('#error_ch_Modal').modal('show');
                return; // interrompe a execução da função

            }

            var novaLinha = document.createElement("tr");
            novaLinha.setAttribute("id", currentFormCount );
            var valores = [varData, varHoraInicio, varHoraTermino, formatarHora(varHorasDeTrabalho), "{{request.user}}", varStatus, '<button id="deletar-elemento-lista-'+currentFormCount+'" type="button" class="del-el-lista btn btn-danger" value='+currentFormCount+'> X </button>'];
            for (var i = 0; i < 7; i++) {
                var novaCelula = document.createElement("td");
                if(i==6){ novaCelula.setAttribute("align", "center"); }
                novaCelula.innerHTML = valores[i];
                novaLinha.appendChild(novaCelula);
            }
            
            novaLinha.appendChild(novaCelula);
            tabelaCargaHoraria.append(novaLinha);
        
        } 

        
        // função para abrir a janela popup
        function openPopup() {
            var url = "{% url 'orion:assinatura_popup' %}"; 
            //var width = window.innerWidth; // largura da janela atual
            //var height = window.innerHeight; // altura da janela atual
            
            var width = 800; // largura da janela atual
            var height = 300;
            
            //var features = "fullscreen=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no,width=" + width + ",height=" + height;
            var features = "fullscreen=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no,width=" + width + ",height=" + height;
            var popup = window.open(url, 'popupWindow' , 'width=800,height=300'); // abrir nova janela em tela cheia
            
            // Aguarda o popup ser fechado para pegar os valores atualizados
            popup.onunload = function () {
                const inputAssinatura = popup.document.getElementById('id_signature').value 
                
                //se a assinatura no popup estiver vazia,nada é feito na tela principal
                if( inputAssinatura != '[]' ){
                    var canvas = popup.document.getElementsByClassName('jSignature');
                    var dataURL = canvas[0].toDataURL();
                    const assinatura_img = document.getElementById('id-img')
                    assinatura_img.src = dataURL
                    
                    var assinatura_form_popup = popup.document.getElementById('id_signature')
                    console.log("assinatura "+ assinatura_form_popup.value)
                    const formTarget = document.getElementById('id_assinatura')
                    formTarget.value = assinatura_form_popup.value
                }

            };
            
        }
        

        // adiciona um ouvinte de eventos para o clique no botão de assinar
        document.getElementById("open-popup").addEventListener("click", openPopup);

        
        // funções de despesas 
        const addMaisDespesasBtn = document.getElementById("add-despesas")
        const totalFormsDespesas = document.getElementById("id_despesa-TOTAL_FORMS")
        const tabelaDespesas = document.getElementById("tabela-despesas-corpo")
        var copyEmptyFormEl = null;
        
        addMaisDespesasBtn.addEventListener('click', add_new_despesa)
        
        function add_new_despesa(event){
           
            if(event){
                event.preventDefault()   
            }

            const currentCargaHorariaForms = document.getElementsByClassName("repetir-despesas")
            const currentFormCount = currentCargaHorariaForms.length //+  1
            const formCopyTarget = document.getElementById("temp-d")
            copyEmptyFormEl = document.getElementById("empty-form-despesa").cloneNode(true);

            copyEmptyFormEl.setAttribute('class', 'repetir-despesas-temp' )
            copyEmptyFormEl.setAttribute('id', `form-despesas-${currentFormCount}` )
            const regex = new RegExp('__prefix__', 'g' )
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
            formCopyTarget.append(copyEmptyFormEl)

    
        } 

        
         document.addEventListener('click', function(event) {

            if (event.target.classList.contains('del-despesa-lista')) {
                const btn = event.target;
                console.log('O botão: ' + btn.id);
                const elemForm = document.getElementById("id_despesa-"+btn.value+"-DELETE")
                if (elemForm == null){
                    const elmPai = document.getElementById("form-despesas-"+btn.value)
                    const input = document.createElement("input");
                    input.setAttribute("type", "checkbox");
                    input.checked = true;
                    input.setAttribute("name", "despesas-"+btn.value+"-DELETE");
                    input.setAttribute("id", "id_despesas-"+btn.value+"-DELETE");
                    elmPai.appendChild(input);
                }else{
                    elemForm.checked = true

                }

                //---------------------------------------------
                var tr = document.getElementById('tr-despesa-'+btn.value);
                tr.remove()

            }
        });
        
        
        const naoSalvarDespesasBtn = document.getElementById("not_save_d");
        naoSalvarDespesasBtn.addEventListener('click', nao_salvar_despesa_form)
        function nao_salvar_despesa_form(event){
            if(event){
                event.preventDefault()   
            }
            console.log("nao_salvar_despesa_form")
            const temForm = document.getElementById("temp-d");
            while (temForm.firstChild) {
                temForm.removeChild(temForm.firstChild);
            }
        }
        
        
        const saveDespesasBtn = document.getElementById("save-d_form");
        saveDespesasBtn.addEventListener('click', save_despesa_form)
        function save_despesa_form(event){
            if(event){
                event.preventDefault()   
            }

            const currentDespesasForms = document.getElementsByClassName("repetir-despesas")
            const currentDespesasCount = currentDespesasForms.length //+  1
            const formCopyTarget = document.getElementById("lista_despesas")
            const temForm = document.getElementsByClassName("repetir-temp")
            
            //variaveis que compoe a lista de despesas 
            const varTipo = $('#id_despesa-'+currentDespesasCount+'-tipo :selected').text();
            const varData = formatarData(document.getElementById("id_despesa-"+currentDespesasCount+"-data").value);
            const varValor = document.getElementById("id_despesa-"+currentDespesasCount+"-valor").value;
            
            console.log(varTipo,varData,varValor)

            let novaLinha = document.createElement("tr");
            novaLinha.setAttribute("id", "tr-despesa-"+currentDespesasCount );
            let valores = [varTipo, varData, varValor, '<button id="deletar-despesa-lista-'+currentDespesasCount+'" type="button" class="del-despesa-lista btn btn-danger" value='+currentDespesasCount+'> X </button>'];
            for (var i = 0; i < 4; i++) {
                var novaCelula = document.createElement("td");
                if(i==3){ novaCelula.setAttribute("align", "center"); }
                novaCelula.innerHTML = valores[i];
                novaLinha.appendChild(novaCelula);
            }
            
            novaLinha.appendChild(novaCelula);
            tabelaDespesas.append(novaLinha);
            
            
            copyEmptyFormEl.setAttribute('class', 'repetir-despesas' )
            console.log(currentDespesasCount)
            totalFormsDespesas.setAttribute('value', currentDespesasCount + 1)
            
            formCopyTarget.append(copyEmptyFormEl)


            
        }    

    </script>

    

    {% endblock content %}