
<div class="table-responsive">

    <table  class="table table-bordered table-striped">
        <colgroup>
            <col class="col-sm-2">
            <col class="col-sm-2">
            <col class="col-sm-2">
            <col class="col-sm-2">
            <col class="col-sm-1">
            <col class="col-sm-1">
        </colgroup>
        <thead>
            <tr>
                <th>Data</th>
                <th>Hora Inicio</th>
                <th>Hora Termino</th>
                <th>Horas de Trabalho</th>
                <th>Status</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody id = "tabela-carga_horaria-corpo">


            {% if carga_horaria  %}
            
                
                {% for fch, id, value, form in carga_horaria %}
                
                    <tr id = {{ value }}>
                        
                        <td>{{ fch.data|date:"d/m/Y" }}
                            {% if form.data.errors  %}
                                {{ form.data.errors }} 
                            {% endif %} 
                                                    </td>
                            
                        <td>{{ fch.hora_inicio }} </td>
                        <td>{{ fch.hora_termino }}</td>
                        <td>{{ fch.horas_de_trabalho }}</td>
                        <td>{{ fch.get_status_display }} </td>
                                                       
                        <td align="center"><button id = {{id}}  type="button" class="del-el-lista btn btn-danger" value = {{ value }} > X </button></td>
                    </tr>


                {% endfor %}
                  
            {% endif %}
        </tbody>
    </table>
</div>