{% load static %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <br>

            
            
            <div class="table-responsive">
                
            <form method="post" id=repetir>
                <table class="table table-bordered table-striped">
                    <colgroup>
                        
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Hora Inicio</th>
                            <th>Hora Termino</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {{ form_ch.media}}
                        {{ form_ch.management_form }}

                        {% if form_ch  %}
                            {% for form in form_ch %}
                                
                                <tr>

                                    <td>{{ form.data.value|date:"d/m/Y" }} </td>
                                    <td>{{ form.hora_inicio.value }} </td>
                                    <td>{{ form.hora_termino.value }} </td>
                                    <td>{{ form.status }} </td>
                                    
                                    <td align="center"><a href="#" title="Editar"><i
                                        class="fa-solid fa-pen-to-square"></i></a></td>
                                </tr>
                                
                            {% endfor %}
                            
                        {% else %}    
                            
                            <tr>
                                <td colspan="8">Sem registros</td>
                            </tr>
                        
                        {% endif %}
                    </tbody>
                </table>
            </form>
            </div>
        </div>
    </div>
</div>
