asgiref==3.5.2
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
backports.zoneinfo==0.2.1
certifi==2022.12.7
charset-normalizer==3.1.0
convertapi==1.6.0
cssselect==1.2.0
Django==4.1.3
django-appconf==1.0.5
django-debug-toolbar==3.8.1
django-jsignature==0.11
django-model-utils==4.3.1
django-notifications-hq==1.7.0
django-smart-selects==1.6.0
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.4.12
et-xmlfile==1.1.0
exceptiongroup==1.1.1
Faker==17.6.0
h11==0.14.0
idna==3.4
iniconfig==2.0.0
jsonfield==3.1.0
lxml==4.9.2
openpyxl==3.1.2
outcome==1.2.0
packaging==23.0
Pillow==9.4.0
pluggy==1.0.0
pyquery==2.0.0
PySocks==1.7.1
pytest==7.2.1
pytest-django==4.5.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
requests==2.28.2
selenium==4.8.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.3
swapper==1.3.0
tomli==2.0.1
trio==0.22.0
trio-websocket==0.10.2
urllib3==1.26.15
validate-docbr==1.10.0
wsproto==1.2.0
