asgiref==3.5.2
attrs==22.2.0
autopep8==2.0.1
backports.zoneinfo==0.2.1
Django==4.1.3
django-smart-selects==1.6.0
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.4.12
exceptiongroup==1.1.0
flake8==6.0.0
iniconfig==2.0.0
mccabe==0.7.0
mypy==1.0.0
mypy-extensions==1.0.0
packaging==23.0
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.1
pytest-django==4.5.2
sqlparse==0.4.3
tomli==2.0.1
typing-extensions==4.5.0
validate-docbr==1.10.0
