{% extends "globals/base.html"%}

{% block content %}

{% include 'globals/partials/_alertas.html' %}

<br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ titulo }}</h3>
            </div>
            <div class="table-responsive">

                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Chamado</th>
                            <th>Cliente</th>
                            <th>Equipamento</th>
                            <th>Tipo</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ordem in ordens_servico %}
                        
                            <tr>
                                <td>{{ordem.numero_chamado}} - {{ ordem.descricao_chamado }} </td>
                                <td>{{ordem.empresa.nome}}</td>
                                <td>{{ordem.equipamento.numero_serie}} - {{ordem.equipamento}}</td>
                                <td> {{ ordem.get_tipo_chamado_display }} </td>
                                <td>{{ordem.criado_em|date:"d/m/Y"}}</td>
                                <td>{{ ordem.get_status_display }} - {{ ordem.get_status_chamado_display }}

                                </td>
                                <td align="center"><a href="{% url 'orion:editar_chamado' ordem.id %}" title="Editar"><i
                                    class="fa-solid fa-pen-to-square"></i></a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8">Sem registros</td>
                            </tr>
                            
                        {% endfor %}
                            
                    </tbody>
                </table>
                
                {% include 'orion/partials/_paginacao.html' with form=ordens_servico %}
            </div>

            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title"> {{ titulo_clientes }}</h3>
            </div>

            <div class=" d-flex justify-content-end m-2">
                <a href="{% url 'orion:cadastrar_clientes' %}">  
                        <button type="submit" class="btn btn-primary"> Novo Cliente</button>
                </a>
                
        
            </div>

            <div class="table-sortable table-responsive">

                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Telefone</th>
                            <th>Email</th>
                            <th>Observação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for cliente in clientes %}
                        
                            <tr>
                                <td>{{ cliente.nome}} </td>
                                <td>{{ cliente.cnpj}} </td>
                                <td>{{ cliente.telefone}} </td>
                                <td>{{ cliente.email }}</td>
                                <td>{{ cliente.observacao }} </td>
                                <td align="center"><a href="{% url 'orion:detalhar_cliente' cliente.id %}" title="Editar"><i
                                    class="fa-solid fa-pen-to-square"></i></a></td>
                            </tr>
                            
                        {% empty %} 
                            <tr>
                                <td colspan="8">Sem registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'orion/partials/_paginacao.html' with form=clientes %}

            </div>
        </div>
    </div>
</div>

{% endblock %}