{% extends "globals/base.html"%}

{% block content %}

{% include 'globals/partials/_alertas.html' %}

<br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ titulo }}</h3>
            </div>
            <div class="table-responsive">

                {% include 'orion/partials/_lista_chamados.html' %} 
                
                {% include 'orion/partials/_paginacao.html' with form=ordens_servico %}
            </div>

            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title"> {{ titulo_clientes }}</h3>
            </div>

            <div class=" d-flex justify-content-end m-2">
                <a href="{% url 'orion:cadastrar_clientes' %}">  
                        <button type="submit" class="btn btn-primary"> Novo Cliente</button>
                </a>
                
        
            </div>

            <div class="table-sortable table-responsive">

                {% include 'orion/partials/_lista_clientes.html' %}
                {% include 'orion/partials/_paginacao.html' with form=clientes %}

            </div>
        </div>
    </div>
</div>

{% endblock %}