{% extends "globals/base.html"%}

{% block content %}

{% include 'globals/partials/_alertas.html' %}

<br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ titulo }}</h3>
            </div>

            <div class=" d-flex justify-content-end m-2">
                <a href="{% url 'orion:novo_chamado_view' 0 %}">  
                        <button type="submit" class="btn btn-primary"> Novo Chamado</button>
                </a>
            </div>

            <div class="table-responsive">

                <table class="table-sortable table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Chamado</th>
                            <th>Cliente</th>
                            <th>Equipamento</th>
                            <th>Tipo</th>
                            <th>Data</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if ordens_servico  %}
                            {% for ordem in ordens_servico %}
                            
                                <tr>
                                    <td>{{ordem.numero_chamado}} - {{ ordem.descricao_chamado }} </td>
                                    <td>{{ordem.equipamento.empresa.nome}} </td>
                                    <td>{{ordem.equipamento.numero_serie}} - {{ordem.equipamento.equipamento}}</td>
                                    <td> {{ ordem.get_tipo_chamado_display }} </td>
                                    <td>{{ordem.criado_em|date:"d/m/Y"}}</td>
                                    <td>{{ ordem.get_status_display }} - {{ ordem.get_status_chamado_display }}

                                    </td>
                                    <td align="center"><a href="{% url 'orion:editar_chamado' ordem.id %}" title="Editar"><i
                                        class="fa-solid fa-pen-to-square"></i></a></td>
                                </tr>
                                
                            {% endfor %}
                            
                        {% else %}    
                            
                            <tr>
                                <td colspan="8">Sem registros</td>
                            </tr>
                        
                        {% endif %}
                    </tbody>
                </table>
               


                <nav role="navigation" aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        {% if ordens_servico.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ ordens_servico.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                            {% if ordens_servico.previous_page_number != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ ordens_servico.previous_page_number }}">{{ ordens_servico.previous_page_number }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        
                        
                        <li class="page-item active"><a class="page-link" href="#">{{ ordens_servico.number }}</a></li>
                    
                        {% if ordens_servico.has_next %}
                            {% if ordens_servico.next_page_number != ordens_servico.paginator.num_pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ ordens_servico.next_page_number }}">{{ ordens_servico.next_page_number }}</a></li>
                            {% endif %}
                        
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
    
                            <li class="page-item">
                                <a class="page-link" href="?page={{ ordens_servico.paginator.num_pages }}">{{ ordens_servico.paginator.num_pages }}</a>
                            </li>
                                
                            <li class="page-item">
                                <a class="page-link" href="?page={{ ordens_servico.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>

    //ordena tabela
    function sortTableByColumn(table, column, asc = true) {
        const dirModifier = asc ? 1 : -1;
        const tBody = table.tBodies[0];
        const rows = Array.from(tBody.querySelectorAll("tr"));
    
        // Sort each row
        const sortedRows = rows.sort((a, b) => {
            const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
            const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
    
            return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
        });
    
        // Remove all existing TRs from the table
        while (tBody.firstChild) {
            tBody.removeChild(tBody.firstChild);
        }
    
        // Re-add the newly sorted rows
        tBody.append(...sortedRows);
    
        // Remember how the column is currently sorted
        table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
    }
    
    document.querySelectorAll(".table-sortable th").forEach(headerCell => {
        headerCell.addEventListener("click", () => {
            const tableElement = headerCell.parentElement.parentElement.parentElement;
            const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
            const currentIsAscending = headerCell.classList.contains("th-sort-asc");
    
            sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
        });
    });
    

</script>
{% endblock %}