{% extends "globals/base.html"%}

{% block content %}

{% include 'globals/partials/_alertas.html' %}

<br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ titulo }}</h3>
            </div>

            <div class=" d-flex justify-content-end m-2">
                <a href="{% url 'orion:novo_chamado_view' 0 %}">  
                        <button type="submit" class="btn btn-primary"> Novo Chamado</button>
                </a>
            </div>

            <div class="table-responsive">

                {% include 'orion/partials/_lista_chamados.html' %}   
               
                {% include 'orion/partials/_paginacao.html' with form=chamados %}
                
            </div>
        </div>
    </div>
</div>

{% endblock %}