{% extends "globals/base.html"%}

{% block content %}
{% include 'globals/partials/_alertas.html' %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title"> {{ titulo }}</h3>
            </div>

            <div class=" d-flex justify-content-end m-2">
                <a href="{% url 'orion:cadastrar_clientes' %}">  
                        <button type="submit" class="btn btn-primary"> Novo Cliente</button>
                </a>
                
        
            </div>

            <div class="table-sortable table-responsive">

                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Telefone</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>Observação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>


                            {% for cliente in clientes %}
                            
                                <tr>
                                    <td>{{ cliente.nome}} </td>
                                    <td>{{ cliente.cnpj}} </td>
                                    <td>{{ cliente.telefone}} </td>
                                    <td>{{ cliente.email }}</td>
                                    <td>{{ cliente.endereco.uf }}</td>
                                    <td>{{ cliente.observacao }} </td>
                                    <td align="center"><a href="{% url 'orion:detalhar_cliente' cliente.id %}" title="Editar"><i
                                        class="fa-solid fa-pen-to-square"></i></a></td>
                                </tr>
                                
                            {% empty %}    
                                    
                                <tr>
                                    <td colspan="8">Sem registros</td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if clientes.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ clientes.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                            {% if clientes.previous_page_number != 1 %}
                                <li class="page-item"> 
                                    <a class="page-link" href="?page={{ clientes.previous_page_number }}">{{ clientes.previous_page_number }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        
                        <li class="page-item active"><a class="page-link" href="#">{{ clientes.number }}</a></li>
                    
                        {% if clientes.has_next %}
                            {% if clientes.next_page_number != clientes.paginator.num_pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ clientes.next_page_number }}">{{ clientes.next_page_number }}</a></li>
                            {% endif %}
                        
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
        
                            <li class="page-item">
                                <a class="page-link" href="?page={{ clientes.paginator.num_pages }}">{{ clientes.paginator.num_pages }}</a>
                            </li>
                                
                            <li class="page-item">
                                <a class="page-link" href="?page={{ clientes.next_page_number }}"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<script>

    //ordena tabela
    function sortTableByColumn(table, column, asc = true) {
        const dirModifier = asc ? 1 : -1;
        const tBody = table.tBodies[0];
        const rows = Array.from(tBody.querySelectorAll("tr"));
    
        // Sort each row
        const sortedRows = rows.sort((a, b) => {
            const aColText = a.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
            const bColText = b.querySelector(`td:nth-child(${ column + 1 })`).textContent.trim();
    
            return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
        });
    
        // Remove all existing TRs from the table
        while (tBody.firstChild) {
            tBody.removeChild(tBody.firstChild);
        }
    
        // Re-add the newly sorted rows
        tBody.append(...sortedRows);
    
        // Remember how the column is currently sorted
        table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
    }
    
    document.querySelectorAll(".table-sortable th").forEach(headerCell => {
        headerCell.addEventListener("click", () => {
            const tableElement = headerCell.parentElement.parentElement.parentElement;
            const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
            const currentIsAscending = headerCell.classList.contains("th-sort-asc");
    
            sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
        });
    });
    

</script>
{% endblock %}