{% extends "globals/base.html"%}
{% load widget_tweaks %}

{% block content %}

<br>

<div class="panel-heading">
    <h3 class="panel-title">{{ titulo }}</h3>
</div>


<div class="container col-sm-10">
    <br>

    <form action="" id="form-cliente" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}

            <div class="form-group mt-3 mb-3 d-flex row ">
                <div class="col-sm-2 label-class text-start text-sm-end">
                    <label class="col-form-label " for="{{ field.id_for_label}}">
                        {{field.label}}</label>
                </div>
                <div class="col-sm-8">
                    
                    {{field|add_class:'form-control'}}
                </div>
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{field.errors}}   
                </div>
                {% endif %}
            </div>
        {% endfor %}
        
        <div id="targetEndereco">
        {% if formEndereco.instance  %}
            {% for field in formEndereco.visible_fields %}
                {% include 'orion/partials/_endereco_form.html' %}    
            {% endfor %}
        {% endif %}    
        </div>
    
        </form>    
        
        {% if formEndereco.instance is False  %}
        <!-- Modal -->
            <div id="div_adicionar_endereco" class="form-group mt-3 mb-3 row d-flex">
                <div class="label-class col-sm-2 text-start text-sm-end">
                <label class="col-form-label" for="adicionar_endereco">
                    Endereço:  </label>
                </div>
                    <div class="col-sm-3 d-flex">
                        <input id = "adicionar_endereco" type="text" class="form-control" placeholder ="Cadastrar Endereço" disabled>
                        <button class="btn btn-success" type="button" id="btn_adicionar_endereco" 
                        data-bs-toggle="modal" data-bs-target="#enderecoModal"><i class="fa-solid fa-plus"></i></button>
                        
                        
                    </div>
            </div>
            {% include 'orion/partials/_endereco_modal.html' %}
        {% endif %}
    
    <div class="d-flex justify-content-center m-2">
        <button type="submit" class="btn btn-primary m-2" form="form-cliente" name="btn-salvar-cliente"> Salvar </button>
        
        {% if id %}
            <form action="{% url 'orion:deletar_cliente'%}" method="post">{% csrf_token %}
                <input type="hidden" name='id' value="{{ id }}" > </input>
                <button type="submit" class="btn btn-danger m-2"> Apagar </button>
            </form>
        {% endif %}
            
    </div>


    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    
    <script type="text/javascript">
        
        
        const salvarEnderecoBtn = document.getElementById("btn_salvar_endereco")
        
        if(salvarEnderecoBtn){

            salvarEnderecoBtn.addEventListener('click', salvar_endereco)
            
            function salvar_endereco(event){
                if(event){
                    event.preventDefault()   
                }
                const formCopyTarget = document.getElementById("targetEndereco")
                const copyFormEl = document.getElementById("endereco-modal").cloneNode(true);
                copyFormEl.setAttribute("id","endereco-form")
                formCopyTarget.append(copyFormEl)
                enderecoModal = document.getElementById("endereco-modal")
                enderecoModal.remove()
                
                //oculta o botão de add endereço
                const div_adicionar_endereco = document.getElementById("div_adicionar_endereco")
                div_adicionar_endereco.classList.remove('d-flex')
                div_adicionar_endereco.classList.add('hidden');
                
            } 
            
        }


        const buscaCepBtn = document.getElementById("buscaCep")
        
        buscaCepBtn.addEventListener('click', busca_cep)
        
        function busca_cep(event){
            if(event){
                event.preventDefault()   
            }
            buscaCepBtn.textContent = 'Processando...';
            var numCep = $("#id_cep").val();

            var url = "https://viacep.com.br/ws/"+ numCep +"/json/?callback=?";
            $.ajax({
                url:url,
                type:"get",
                dataType:"json",
                success:function(dados){
                    console.log(dados)
                    if(!dados.erro){

                        $("#id_rua").val(dados.logradouro);
                        $("#id_bairro").val(dados.bairro);
                        $("#id_uf").val(dados.uf);
                        $("#id_cidade").val(dados.localidade);
                    }else{ 
                        alert("Erro ao buscar o Cep"); 
                    }
                    buscaCepBtn.textContent = 'Buscar'

                },
                error: function(){
                    alert("Erro ao buscar o Cep");
                    buscaCepBtn.textContent = 'Buscar'
                }
            })
            
        } 
        // mascara de telefone 
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
          },
        spOptions = {
        onKeyPress: function(val, e, field, options) {
            field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

        $(document).ready(function(){
            $('.cep').mask('00000-000');
            $('.cnpj').mask('00.000.000/0000-00');
            $('.telefone').mask(SPMaskBehavior, spOptions);

        });

    </script>
</div>
{% endblock %}