{% extends "globals/base.html"%}

{% block content %}
{% load widget_tweaks %}

<br>
<div class="panel-heading">
    <h3 class="panel-title">Novo Equipamento</h3>
</div>

<div class="container col-sm-10">
    <br>

    <form action="" id="form-equipamento" method="post">
        {% csrf_token %}
        
        {% include 'globals/partials/_form.html' with form=form %}
        
    </form>    
    
    <div class=" d-flex justify-content-center m-2">
        <button type="submit" class="btn btn-primary m-2" form="form-equipamento"> Salvar </button>
        
        {% if id %}
            <form action="{% url 'orion:deletar_equipamento' id %}" method="post"> {% csrf_token %}
                <button type="submit" class="btn btn-danger m-2"> Apagar </button>
            </form>
        {% endif %}
            
    </div>



</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $('.select2').select2({
        theme: 'bootstrap4',
        placeholder: 'Selecione uma opção'
    });

</script>
{% endblock %}