{% extends "globals/base.html"%}

{% block content %}

{% include 'globals/partials/_alertas.html' %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title"> {{ titulo }}</h3>
            </div>

            <div class=" d-flex justify-content-end m-2">
                <a href="{% url 'usuarios:cadastro_usuario' %}">  
                        <button type="submit" class="btn btn-primary"> Novo Usuário</button>
                </a>
                
        
            </div>

            <div class="table-responsive">

                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Login</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Tipo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if forms  %}
                            {% for cliente in forms %}
                            
                                <tr>
                                    <td>{{ cliente.user.username}} </td>
                                    <td>{{ cliente.user.first_name}} {{ cliente.user.last_name}} </td>
                                    <td>{{ cliente.user.email }}</td>
                                    <td>{{ cliente.get_tipo_display }}</td>
                                    <td align="center">
                                        <span class="link me-2"><a href="{% url 'usuarios:editar_usuario' cliente.user.id %}" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a></span>
                                        
                                    
                                        <span class="link ms-3">
                                            <a href="#" class="botao_modal"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deletar_usuario_modal"
                                            data-id="{{ cliente.user.id }}"
                                            data-name="{{ cliente.user.username }}">
                                            <i class="fa-solid fa-trash"> </i>
                                            </a>
                                        </span>
                                    </td>

                    
                                </tr>
                                
                                {% include 'usuarios/partials/_deletar_usuario_modal.html' %}
                                {% endfor %}
                                
                        {% else %}    
                            
                            <tr>
                                <td colspan="8">Sem registros</td>
                            </tr>
                        
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $('.botao_modal').click(function(){
        $('#building-id').html($(this).data('id'));
        $('#building-name').html($(this).data('name'));


        const formmodal = document.getElementById("form-modal")
        link = formmodal.action.split('/').slice(0,-1).join('/')+'/'+$(this).data('id')
        formmodal.action = link
        console.log(link)
        

    });

</script>
{% endblock %}