{% load static %}

{% comment %}
{% include 'orion/partials/_confirmacao_modal.html' with id_modal="cancelar-modal" acao="Cancelar Edição do" %}
{% endcomment %}
<div class="modal" tabindex="-1" id={{ id_modal }}>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{ acao }} chamado </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                
                <p>Você tem certeza ? <p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" >Confirmar</button>
            </div>
        </div>
    </div>
</div>