{% load widget_tweaks %}
{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="enderecoModal" tabindex="-1" aria-labelledby="enderecoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="enderecoModalLabel">Endereço</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <div id="endereco-modal">
                    
                    {% for field in formEndereco.visible_fields %}
                        {% include 'orion/partials/_endereco_form.html' %} 
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button id='btn_salvar_endereco' type="button" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
            </div>
        </div>
        </div>
    </div>
    <!-- End Modal -->
{% endblock content %}