
<div class="table-responsive">

    <table class="table table-bordered table-striped">
        <colgroup>
            <col class="col-sm-2">
            <col class="col-sm-2">
            <col class="col-sm-2">
            <col class="col-sm-2">
            <col class="col-sm-1">
        </colgroup>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Data</th>
                <th>Valor</th>
                <th>tecnico</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody id="tabela-despesas-corpo">
                  
            
        </tbody>
    </table>
</div>

<script>

    $(document).ready(function() {

        const tabelaDespesas = document.getElementById("tabela-despesas-corpo")
        const numDespesas = document.getElementsByClassName("repetir-despesas")
        
        for (let i = 0; i < numDespesas.length; i++){
            
            
            //variaveis que compoe a lista de despesas 
            let varTipo = $('#id_despesa-'+i+'-tipo :selected').text();
            let varData = formatarData(document.getElementById("id_despesa-"+i+"-data").value);
            let varValor = document.getElementById("id_despesa-"+i+"-valor").value;
            let varTecnico = $('#id_despesa-'+i+'-tecnico :selected').text();

            let novaLinha = document.createElement("tr");
            novaLinha.setAttribute("tr-despesa-", i );

            let botaoRemover = '<button id="deletar-despesa-lista-'+i+'" type="button" class="del-despesa-lista btn btn-danger" value='+i+'> X </button>'
            if(varTecnico != "{{request.user}}"){
                botaoRemover = '<button id="deletar-despesa-lista-'+i+'" type="button" class="del-despesa-lista btn btn-danger" value='+i+' disabled> X </button>'
                
            }

            let valores = [varTipo, varData, varValor, varTecnico, botaoRemover];
            
            for (let j = 0; j < 5; j++) {
                var novaCelula = document.createElement("td");
                if(j==4){ novaCelula.setAttribute("align", "center"); }
                novaCelula.innerHTML = valores[j];
                novaLinha.appendChild(novaCelula);
            }
            tabelaDespesas.append(novaLinha); 
        
        } 
    
    })
         

</script>
