{% extends "globals/base.html"%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <br>
            <div class="panel-heading">
                <h3 class="panel-title"> {{ titulo }}</h3>
            </div>

            <div class=" d-flex justify-content-end m-2">
                <a href="{% url 'cadastrar_clientes' %}">  
                        <button type="submit" class="btn btn-primary"> Novo Cliente</button>
                </a>
                
        
            </div>

            <div class="table-responsive">

                <table class="table table-bordered table-striped">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Telefone</th>
                            <th>Email</th>
                            <th>Observação</th>
                            <th>Endereço</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if clientes  %}
                            {% for cliente in clientes %}
                            
                                <tr>
                                    <td>{{ cliente.nome}} </td>
                                    <td>{{ cliente.cnpj}} </td>
                                    <td>{{ cliente.telefone}} </td>
                                    <td>{{ cliente.email }}</td>
                                    <td>{{ cliente.observacao }} </td>
                                    <td>{{ cliente.endereco }} </td>
                                    <td align="center"><a href="{% url 'detalhar_cliente' cliente.id %}" title="Editar"><i
                                        class="fa-solid fa-pen-to-square"></i></a></td>
                                </tr>
                                
                            {% endfor %}
                            
                        {% else %}    
                            
                            <tr>
                                <td colspan="8">Sem registros</td>
                            </tr>
                        
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}