{% extends "globals/base.html"%}
{% load widget_tweaks %}

{% block content %}

<br>

<div class="panel-heading">
    <h3 class="panel-title">{{ titulo }}</h3>
</div>


<div class="container col-10">
    <br>

    <form action="" id="form-cliente" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}

            <div class="form-group mt-3 mb-3 row ">
                <div class="col-2 label-class">
                    <label class="col-form-label" for="{{ field.id_for_label}}">
                        {{field.label}}</label>
                </div>
                <div class="col-8">
                    
                    {{field|add_class:'form-control'}}
                        

                </div>
            </div>
        {% endfor %}
        
        <div id="targetEndereco">
        {% if formEndereco.instance  %}
            {% for field in formEndereco.visible_fields %}
                <div class="form-group mt-3 mb-3 row ">
                    <div class="col-2 label-class">
                        <label class="col-form-label" for="{{ field.id_for_label}}">
                            {{field.label}}</label>
                    </div>

                    <div class=" d-inline-flex flex-row col-8">
                                    
                        {{field|add_class:'form-control'}}
                        {% if field.name == 'cep' %}
                        <button id='buscaCep' name="buscaCepForm" class='btn btn-outline-secondary flex-shrink-0 pe-1 ms-1'>Buscar <i class="fa-solid fa-magnifying-glass"></i> </button>
                        {% endif %}
                        
                    </div>
                </div>
                
                {% endfor %}
            {% endif %}    
        </div>
    
        {% if formEndereco.instance is False  %} 
            <div id="div_adicionar_endereco" class="form-group mt-3 mb-3 row ">
                <div class="col-2 label-class">
                <label class="col-form-label" for="adicionar_endereco">
                    Endereço:  </label>
                </div>
                    <div class="col-3 d-flex">
                        <input id = "adicionar_endereco" type="text" class="form-control" placeholder ="Cadastrar Endereço" disabled>
                        <button class="btn btn-success" type="button" id="btn_adicionar_endereco" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i></button>
                        
                        
                    </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="endereco-modal">
                         
                            {% for field in formEndereco.visible_fields %}
                            <div class="form-group mt-3 mb-3 row ">
                                <div class="col-2 label-class">
                                    <label class="col-form-label" for="{{ field.id_for_label}}">
                                        {{field.label}}</label>
                                    </div>
                                    <div class=" d-inline-flex flex-row col-8">
                                        
                                        {{field|add_class:'form-control'}}
                                        {% if field.name == 'cep' %}
                                        <button id='buscaCep' name="buscaCepModal" class='btn btn-outline-secondary flex-shrink-0 pe-1 ms-1'>Buscar <i class="fa-solid fa-magnifying-glass"></i> </button>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                                
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id='btn_salvar_endereco' type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- End Modal -->
        {% endif %}
                
        </form>    
        
    
    <div class=" d-flex justify-content-center m-2">
        <button type="submit" class="btn btn-primary m-2" form="form-cliente"> Salvar </button>
        
        {% if id %}
            <form action="{% url 'deletar_cliente'%}" method="post">{% csrf_token %}
                <input type="hidden" name='id' value="{{ id }}" > </input>
                <button type="submit" class="btn btn-danger m-2"> Apagar </button>
            </form>
        {% endif %}
            
    </div>


        <!-- Adicionando JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    
    <script type="text/javascript">
        
        
        const salvarEnderecoBtn = document.getElementById("btn_salvar_endereco")
        
        if(salvarEnderecoBtn){

            salvarEnderecoBtn.addEventListener('click', salvar_endereco)
            
            function salvar_endereco(event){
                if(event){
                    event.preventDefault()   
                }
                const formCopyTarget = document.getElementById("targetEndereco")
                const copyFormEl = document.getElementById("endereco-modal").cloneNode(true);
                copyFormEl.setAttribute("id","endereco-form")
                formCopyTarget.append(copyFormEl)
                enderecoModal = document.getElementById("endereco-modal")
                enderecoModal.remove()
                
                //oculta o botão de add endereço
                div_adicionar_endereco = document.getElementById("div_adicionar_endereco")
                div_adicionar_endereco.classList.add('hidden');
                
            } 
            
        }


        const buscaCepBtn = document.getElementById("buscaCep")
        
        buscaCepBtn.addEventListener('click', busca_cep)
        
        function busca_cep(event){
            if(event){
                event.preventDefault()   
            }
            buscaCepBtn.textContent = 'Processando...';
            var numCep = $("#id_cep").val();

            var url = "https://viacep.com.br/ws/"+ numCep +"/json/?callback=?";
            $.ajax({
                url:url,
                type:"get",
                dataType:"json",
                success:function(dados){
                    console.log(dados)
                    if(!dados.erro){

                        $("#id_rua").val(dados.logradouro);
                        $("#id_bairro").val(dados.bairro);
                        $("#id_uf").val(dados.uf);
                        $("#id_cidade").val(dados.localidade);
                    }else{ 
                        alert("Erro ao buscar o Cep"); 
                    }
                    buscaCepBtn.textContent = 'Buscar'

                },
                error: function(){
                    alert("Erro ao buscar o Cep");
                    buscaCepBtn.textContent = 'Buscar'
                }
            })
            
        } 
        $(document).ready(function(){
            $('.cep').mask('00000-000');
            $('.cnpj').mask('00.000.000/0000-00');
            $('.telefone').mask('(00) 00000-0000');

        });

    </script>
</div>
{% endblock content %}