{% extends "globals/base.html"%}

{% block content %}
{% load widget_tweaks %}

<form id="form-chamado" action= "{% url 'editar_chamado' id %}" method="post">

    {% include 'orion/partials/_detalhes_chamado.html' %}

</form>



    <div class="d-grid gap-2 d-md-flex justify-content-md-center p-3">
        
        <button type="submit" class="btn btn-primary" form="form-chamado"> Salvar </button>

        <form action="{% url 'fechar_chamado' id  %}">
            <button type="submit" class="btn btn-secondary"> Fechar </button>
        </form>
        
        <form action="{% url 'deletar_chamado' id  %}">
            <button type="submit" class="btn btn-danger"> Apagar </button>
        </form>
        


    </div>

{% endblock %}