{% extends "globals/base.html"%}

{% load widget_tweaks %}
{% block content %}


<form id="form-chamado" action= "{% url 'orion:novo_chamado' %}" method="post">

    {% include 'orion/partials/_detalhes_chamado.html' %}
</form>


    <div class="d-grid gap-2 d-flex justify-content-center p-3 ms-3">
      
        <button type="submit" class="btn btn-primary" form="form-chamado"> Salvar </button>

        <button type="button" class="btn btn-warning b_cancelar_chamado_modal"
        data-bs-toggle="modal"
        data-bs-target="#cancelar_chamado_modal"
        data-id="{{ id }}"
        data-number="{{ ordemForm.numero_chamado.value}}">
    
            Cancelar 
        </button>

    </div>

    {% include 'orion/partials/_cancelar_chamado_modal.html' %}
</div>

{% endblock content %}