{% extends "globals/base.html"%}
{% load widget_tweaks %}
{% block content %}

{% include 'globals/partials/_alertas.html' %}

<br>
<div class="panel-heading">
    <h3 class="panel-title">{{ title }}</h3>
</div>

<div class="container col-sm-10">
    <br>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group mt-3 mb-3 d-flex row ">
            <div class="label-class col-sm-3 text-start text-sm-end">
                
                <label class="col-form-label" for = "funcionario">
                    Funcionário
                </label>
                
            </div>
            
            <div class="col-sm-3">
                <select name='funcionario' class="form-select">
                    {% for element in usuarios %}
                        <option  value={{ element.id }}>{{ element.user.username}}
                    {% endfor %}
                </select>

            </div>
    
    
        </div>

        <div class="form-group mt-3 mb-3 d-flex row ">
            <div class="label-class col-sm-3 text-start text-sm-end">
                
                <label class="col-form-label" for = "month">
                    Mês de referencia
                </label>
                
            </div>
            
            <div class="col-sm-3">
                <input class = "form-select" id="month" type="month" name="mes_referencia" value="2023-03" />

            </div>
    
    
        </div>


        <div class="col d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-2" > Gerar Relatório </button>
        </div>

    
    </form>    
         
    </div>

</div>


{% endblock %}

