{% load widget_tweaks %}

{% for field in form.visible_fields %}

    <div class="form-group mt-3 mb-3 d-flex row">
        <div class="label-class col-sm-2 text-start text-sm-end">
            <label class="col-form-label " for="{{ field.id_for_label}}">
                {{field.label}}</label>
        </div>
        <div class="d-inline-flex flex-row col-sm-8">
            
            {{field|add_class:'form-control'}}
            
            
            {% if field.name == 'cep' %}
                <button id='buscaCep' name="buscaCepModal" class='btn btn-outline-secondary flex-shrink-0 pe-1 ms-1'>Buscar <i class="fa-solid fa-magnifying-glass"></i> </button>
            {% endif %}

            {% if field.errors %}
            <span style="color: red;" role="alert">
                {{field.errors}}   
            </span>
            {% endif %}
        </div>
        <small class="form-text text-muted d-flex justify-content-center">{{ field.help_text }}</small>
    </div>
{% endfor %}