{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
        <a class="navbar-brand " href="{% url 'orion:lista_home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Chamado
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'orion:novo_chamado_view' 0 %}">Novo Chamado</a></li>
                        <li><a class="dropdown-item" href="{% url 'orion:lista_chamados' %}">Chamados Abertos</a></li>
                        <li><a class="dropdown-item" href="{% url 'orion:chamados_fechados' %}">Chamados Fechados</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        cadastros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'orion:clientes' %}">Clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'orion:equipamentos' %} ">Equipamentos</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:lista_usuarios' %} ">Usuários</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Relatórios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Horas Trabalhadas</a></li>
                        <li><a class="dropdown-item" href="#">Reembolso de Gastos de Viagem</a></li>
                        <li><a class="dropdown-item" href="#">Chamados</a></li>
                        <li><a class="dropdown-item" href="#">Ponto</a></li>
                    </ul>
                </li>

            </ul>

            <form class="d-flex me-2" role="search" action="{% url 'orion:busca_chamados'%}">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" name = 'q' value="{{termo_pesquisado}}" required>
                <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
   
            <ul class="nav navbar-nav navbar-right">   
                
            
                <li class="nav-item dropdown">
                    
                    {% if user.is_authenticated %}
                    <button class="btn btn-outline-primary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.get_username |title }}
                        <!-- 
                        -->
                    </button>

                    {% else %}
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuáro
                    </button>
                    {% endif %}

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'usuarios:dados_usuario' %}">Meus Dados</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}" class="navText">Sair</a> </li>
                    </ul>
                </li>
                
                <!-- notificações -->
                <li class="nav-item dropstart ms-2">
                    <button id="notificacao-btn" class="notification btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-bell"></i>
                        
                        <span id='numero-notificacoes' class="badge"></span>
                       
                    </button>
                    <ul class="dropdown-menu notification-container">
                        <div class="notification-header">Notificações</div>
                        <div id='notificacoes' class="notification-list">
                            <!--
                             notificações inseridas com js -->
  
                        </div>
                    </ul>
                
                    
                </li>
        
            </ul>

        </div>
    </div>
</nav>
<script>

    $(document).ready(function(){
        
        $.ajax({
            type: "POST",
            url: "{% url 'orion:marcar_notificacao_como_lida' %}",
            data: {'id-notificacao': '1',  csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data) {
              // ação a ser executada se a requisição for bem sucedida
                
                //console.log(data)
                const noti =  JSON.parse(data['notificacoes']);
                        
                let notificacoesDiv = document.getElementById("notificacoes");
                
                noti.forEach((item) => {
                    //console.log(item.fields.verb, item.pk, item.fields.target_object_id); // Imprime o valor da chave "model" de cada objeto do arquivo JSON

                    // criando o formulário
                    let form = document.createElement("form");
                    form.classList.add("notificacao-form");
                    form.method = "post";
                
                    // adicionando o csrf_token
                    let csrf_token = document.createElement("input");
                    csrf_token.type = "hidden";
                    csrf_token.name = "csrfmiddlewaretoken";
                    csrf_token.value = "{{ csrf_token }}"; 
                    form.appendChild(csrf_token);
                
                    // criando o item de notificação
                    let notificationItem = document.createElement("div");
                    notificationItem.classList.add("notification-item");
                
                    let notificationItemContent = document.createElement("div");
                    notificationItemContent.classList.add("notification-item-content");
                    
                    let link = document.createElement("a");
                    link.href = "{% url 'orion:editar_chamado' 0 %}";
                    link.href = link.href.split('/').slice(0,-2).join('/')+'/'+item.fields.target_object_id+'/'

                    let notificationItemText = document.createElement("div");
                    notificationItemText.classList.add("notification-item-text");
                    notificationItemText.innerText = item.fields.verb; 
                    link.appendChild(notificationItemText);
                    notificationItemContent.appendChild(link);
                
                    let idNotificacao = document.createElement("input");
                    idNotificacao.setAttribute('value', item.pk )
                    idNotificacao.classList.add("hidden");
                    idNotificacao.type = "text";
                    idNotificacao.name = "id-notificacao";
                    notificationItemContent.appendChild(idNotificacao);
                
                    let markAsReadButton = document.createElement("button");
                    markAsReadButton.classList.add("mark_as_read");
                    markAsReadButton.type = "submit";
                    markAsReadButton.innerText = "Marcar como Lida";
                    notificationItemContent.appendChild(markAsReadButton);
                
                    notificationItem.appendChild(notificationItemContent);
                    form.appendChild(notificationItem);
                
                    notificacoesDiv.appendChild(form);
                }); 


                const count = document.querySelector('#numero-notificacoes');
                count.innerText = data.count
                if (data.count == 0){
                    count.setAttribute('class', 'hidden')
                    const notificationList  = document.querySelector('#notificacoes');
                    notificationList.innerText = "Sem notificações"
                }

                
                
                //console.log(notificacoesDiv)

            },
            error: function() {
              // ação a ser executada se a requisição falhar
            }
          });

        

    });

    
    // marca as notificacoes como lida
    document.addEventListener('submit', async (event) => {
        
        if (event.target.classList.contains('notificacao-form')) {
            event.preventDefault(); 
            form = event.target;

            const formData = new FormData(form);
            const response = await fetch("{% url 'orion:marcar_notificacao_como_lida' %}" , {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                form.remove()
                const count = document.querySelector('#numero-notificacoes');
                count.innerText = data.count
                if (data.count ==0){
                    count.setAttribute('class', 'hidden')
                    const notificationList  = document.querySelector('#notificacoes');
                    notificationList.innerText = "Sem notificações"
                }
            });
            


        }
    });
    
</script>
{% endblock content %}