{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
        <a class="navbar-brand " href="{% url 'orion:lista_home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Chamado
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'orion:novo_chamado_view' 0 %}">Novo Chamado</a></li>
                        <li><a class="dropdown-item" href="{% url 'orion:lista_chamados' %}">Chamados Abertos</a></li>
                        <li><a class="dropdown-item" href="{% url 'orion:chamados_fechados' %}">Chamados Fechados</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        cadastros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'orion:clientes' %}">Clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'orion:equipamentos' %} ">Equipamentos</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:lista_usuarios' %} ">Usuários</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Relatórios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Horas Trabalhadas</a></li>
                        <li><a class="dropdown-item" href="#">Reembolso de Gastos de Viagem</a></li>
                        <li><a class="dropdown-item" href="#">Chamados</a></li>
                        <li><a class="dropdown-item" href="#">Ponto</a></li>
                    </ul>
                </li>

            </ul>

            <form class="d-flex me-2" role="search" action="{% url 'orion:busca_chamados'%}">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" name = 'q' value="{{termo_pesquisado}}" required>
                <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    
                    {% if user.is_authenticated %}
                    <button class="btn btn-outline-primary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.get_username |title }}
                    </button>

                    {% else %}
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuáro
                    </button>
                    {% endif %}

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'usuarios:dados_usuario' %}">Meus Dados</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}" class="navText">Sair</a> </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

{% endblock content %}